---
title: Vertrektijden Rotterdam Centraal
bg: bg-white
---

{% capture station %}
{{ page.title | remove: "Vertrektijden" }}
{% endcapture %}

<div class="container container--slim pv-4 pv-8-sm">
    <ul class="breadcrumb mb-0">
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="/">
                {{ site.data.content.breadcrum }}
            </a>
        </li>
        <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="/stations/rotterdam-centraal.html">
                {{ station }}
            </a>
        </li>
    </ul>
    <header class="mb-4 mb-6-sm">
        <h1 class="f28 f48-sm fw-b js-times-hc"><span class="js-times-heading">Vertrektijden</span> {{ station }}</h1>
    </header>
    <a class="tk-link tk-link--icon mb-2">
        <span>{% include icons/clock-s--small.svg %}</span>
        <span class="js-times-switch">Aankomsttijden</span>
    </a>
    <div class="js-times">
        {% for table in site.data.times-avt %}
        {% include times__table.html %}
        {% endfor %}
    </div>
</div>