---
title: Stationsinformatie | NS
---


<div _ngcontent-c0="" class="content">
    {% include hero.html %}
    <div _ngcontent-c0="" class="container container--section">
        <div _ngcontent-c0="" class="grid">
            <div _ngcontent-c0="" class="grid__unit s-4-4 m-12-12 l-8-12">
                <div _ngcontent-c0="" class="tile tile--ns-yellow tile--gradient tile--slim">
                    <div _ngcontent-c0="" class="tile__header">
                        <header _ngcontent-c0="" class="headingGroup">
                            <h1 _ngcontent-c0="" class="tile__heading headingM">Stationsinformatie</h1>
                            <h2 _ngcontent-c0="" class="headingXL fw-b">Zoek uw station</h2>
                        </header>
                    </div>
                    <div _ngcontent-c0="" class="tile__content">
                        
                        <form _ngcontent-c0="" class="searchForm autosuggest ng-untouched ng-pristine ng-valid"
                            novalidate=""><label _ngcontent-c0="" class="alt" for="searchField">Station</label>
                            <div _ngcontent-c0="" class="searchForm__field"><span _ngcontent-c0="" class="twitter-typeahead"><input
                                        _ngcontent-c0="" aria-autocomplete="both" aria-owns="autosuggest__list"
                                        autocomplete="off" class="searchField autosuggest__input ng-untouched ng-pristine ng-valid"
                                        dir="auto" formcontrolname="search" id="searchField" name="station" placeholder="Type uw station"
                                        role="combobox" spellcheck="false" type="search">
                                    <div _ngcontent-c0="" class="searchForm__clear"><a _ngcontent-c0="" class="clearButton clearButton--grey"
                                            href="#"><span _ngcontent-c0="" class="icon"><span _ngcontent-c0="" class="alt">Veld
                                                    leegmaken</span></span></a></div>
                                    
                                </span></div>
                            <div _ngcontent-c0="" class="searchForm__submit"><input _ngcontent-c0="" class="button is-disabled"
                                    type="submit" value="Zoek" disabled=""></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include direct-links.html %}
</div>