---
title: Stationsinformatie
---


{% include hero.html hero="hero-gv.jpg" %}
<div class="container container--section">
    <div class="grid">
        <div class="grid__unit s-4-4 m-12-12 l-8-12">
            <div class="tile tile--ns-yellow tile--gradient tile--slim">
                <div class="tile__header">
                    <header class="headingGroup">
                        <h1 class="tile__heading headingM">Stationsinformatie</h1>
                        <h2 class="headingXL fw-b">Zoek uw station</h2>
                    </header>
                </div>
                <div class="tile__content">

                    <form class="searchForm autosuggest ng-untouched ng-pristine ng-valid" novalidate=""><label class="alt"
                            for="searchField">Station</label>
                        <div class="searchForm__field"><span class="twitter-typeahead"><input aria-autocomplete="both"
                                    aria-owns="autosuggest__list" autocomplete="off" class="searchField autosuggest__input ng-untouched ng-pristine ng-valid"
                                    dir="auto" formcontrolname="search" id="searchField" name="station" placeholder="Type uw station"
                                    role="combobox" spellcheck="false" type="search">
                                <div class="searchForm__clear"><a class="clearButton clearButton--grey" href="#"><span
                                            class="icon"><span class="alt">Veld
                                                leegmaken</span></span></a></div>

                            </span></div>
                        <div class="searchForm__submit"><input class="button is-disabled" type="submit" value="Zoek"
                                disabled=""></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include direct-links.html %}