---
title: Rotterdam Centraal
station-code: rtd
---

<!-- heading-->
<div class="tk-hero">
    <div class="tk-hero__bg tk-hero__bg--{{page.station-code}}"></div>
    <div class="tk-hero__gradient"></div>
    <div class="tk-hero__content">
        <div class="container header__content db">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb__item f-white ts-2">
                    <a class="breadcrumb__link f-white ts-2" href="/">
                        {{ site.data.content.breadcrum }}
                    </a>
                </li>
            </ul>
            <h1 class="tk-heading-xxl tk-hero__heading">{{ page.title }}</h1>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container header__content db pv-4">
        <div class="nav">
            {% for item in site.data.content.nav %}
            <a href="{{item.link.href}}" class="nav__link {{item.link.class}}">
                <div class="nav__item">
                    <span class="nav__icon" include="/assets/img/icons/{{item.icon}}.svg"></span>
                    <span class="nav__title">{{item.title}}<span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-white pv-2 pv-6-sm">
    <div class="container header__content">
        <div class="grid">

            <!-- departures & arrivals -->
            <div class="grid__unit mb-6" id="times">
                {% include times.html %}
            </div>

            <!-- interruptions -->
            {% include interruptions.html %}
        </div>
    </div>
</div>
<div class="pt-2-sm"></div>
{% include facilities.html %}