---
title: Utrecht Centraal | NS
hero: g-Hero--major
---

<!-- heading-->
<div class="gd-r-yellow-subtle pv-2 pv-4-sm">
    <div class="container header__content">
        <div class="w-100">
            <ul class="breadcrumb">
                <li class="breadcrumb__item f-blue">
                    <a class="breadcrumb__link f-blue" href="/">
                        {{ site.data.content.breadcrum }}
                    </a>
                </li>
            </ul>
            <h1 class="f40 f56-sm f72-md fw-b lh-solid mb-3">{{ site.data.content.station }}</h1>
            <div class="bo-b-blue mb-4"></div>
            
            <!-- app navigation -->
            <div class="nav">
                {% for item in site.data.content.nav %}
                <a href="{{item.link.href}}" class="nav__link {{item.link.class}}">
                    <div class="nav__item">
                        <span class="nav__icon" include="/assets/img/icons/{{item.icon}}.svg"></span>
                        <h3 class="nav__title">{{item.title}}</h3>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="bg-white pv-2 pv-6-sm">
    <div class="container header__content">
        <div class="grid">

            <!-- departures & arrivals -->
            <div class="grid__unit mb-6" id="times">
                {% include times.html %}
            </div>

            <!-- interruptions -->
            {% include interruptions.html %}
        </div>
    </div>
</div>
<div class="pt-2-sm"></div>
{% include facilities.html %}