---
title: Utrecht Centraal | NS
hero: g-Hero--major
---

<!-- heading-->
<div class="gd-r-yellow-subtle pv-2 pv-4-sm">
    <div class="container header__content">
        <div class="grid">
            <div class="grid__unit">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item f-blue">
                        <a class="breadcrumb__link f-blue" href="/">
                            {{ site.data.content.breadcrum }}
                        </a>
                    </li>
                </ul>
                <h1 class="f40 f56-sm f72-md fw-b lh-solid mb-3">{{ site.data.content.station }}</h1>
                <a href="{{ site.data.content.map-button.url }}" class="button btn btn-ghost">
                    <span include="/assets/img/icons/map--small.svg"></span>
                    <span class="ml-5">{{ site.data.content.map-button.content }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- blue heading -->
<!-- <div class="bg-blue pv-2 pv-4-sm">
    <div class="container header__content">
        <div class="grid">
            <div class="grid__unit">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item f-white"><a class="breadcrumb__link f-white" href="/">{{
                            site.data.content.breadcrum }}</a></li>
                </ul>
                <h1 class="f40 f56-sm f72-md fw-b lh-solid mb-3 f-white">{{ site.data.content.station }}</h1>
                <a href="{{ site.data.content.map-button.url }}" class="button btn btn-ghost btn-ghost--white">
                    <span include="/assets/img/icons/map--small.svg"></span>
                    <span class="ml-5 f-white">{{ site.data.content.map-button.content }}</span>
                </a>
            </div>
        </div>
    </div>
</div> -->

<div class="bg-white pv-2 pv-6-sm">
    <div class="container header__content">
        <div class="grid">

            <!-- departures & arrivals -->
            <div class="grid__unit mb-6" id="times">
                {% include times.html %}
            </div>

            <!-- interruptions -->
            {% include interruptions.html %}
        </div>
    </div>
</div>
<div class="pt-2-sm"></div>
{% include facilities.html %}