<rio-si-direct-links>
    <div class="container container--header">
        <h2 class="headingXL">Direct naar</h2>
    </div>
    <div class="container container--section container--article">
        <div class="grid">
            <div class="grid__unit s-4-4 m-12-12 l-10-12 l-push-left-1-12">
                <ul class="list list--3Cols">
                    <li class="list__item"><a class="arrowLink" routerlink="/asd/amsterdam-centraal" href="/stationsinformatie/asd/amsterdam-centraal">Amsterdam
                            Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" href="/utrecht-centraal">Utrecht Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/asb/amsterdam-bijlmer-arena" href="/stationsinformatie/asb/amsterdam-bijlmer-arena">Amsterdam
                            Bijlmer ArenA</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/gvc/den-haag-centraal" href="/stationsinformatie/gvc/den-haag-centraal">Den
                            Haag Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/rtd/rotterdam-centraal" href="/stationsinformatie/rtd/rotterdam-centraal">Rotterdam
                            Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/gn/groningen" href="/stationsinformatie/gn/groningen">Groningen</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/ehv/eindhoven" href="/stationsinformatie/ehv/eindhoven">Eindhoven</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/ht/s-hertogenbosch" href="/stationsinformatie/ht/s-hertogenbosch">'s-Hertogenbosch</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/shl/schiphol-airport" href="/stationsinformatie/shl/schiphol-airport">Schiphol
                            Airport</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/nm/nijmegen" href="/stationsinformatie/nm/nijmegen">Nijmegen</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/zl/zwolle" href="/stationsinformatie/zl/zwolle">Zwolle</a></li>
                    <li class="list__item"><a class="arrowLink" routerlink="/ledn/leiden-centraal" href="/stationsinformatie/ledn/leiden-centraal">Leiden
                            Centraal</a></li>
                </ul>
            </div>
        </div>
    </div>
</rio-si-direct-links>