<rio-si-direct-links>
    <div class="container container--header mb-2">
        <h2 class="headingXL ovr-heading-not-contained">Direct naar</h2>
    </div>
    <div class="container container--article">
        <div class="grid">
            <div class="grid__unit s-4-4 m-12-12 l-10-12 l-push-left-1-12">
                <ul class="list list--3Cols">
                    <li class="list__item"><a class="arrowLink" href="/stations/amsterdam-centraal">Amsterdam Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/utrecht-centraal">Utrecht Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/amsterdam-bijlmer-arena">Amsterdam Bijlmer ArenA</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/den-haag-centraal">Den Haag Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/rotterdam-centraal">Rotterdam Centraal</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/eemshaven">Eemshaven</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/den-haag-hs">Den Haag HS</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stationsinformatie/ht/s-hertogenbosch">'s-Hertogenbosch</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stationsinformatie/shl/schiphol-airport">Schiphol Airport</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/nijmegen">Nijmegen</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stations/arnhem">Arnhem</a></li>
                    <li class="list__item"><a class="arrowLink" href="/stationsinformatie/ledn/leiden-centraal">Leiden Centraal</a></li>
                </ul>
            </div>
        </div>
    </div>
</rio-si-direct-links>