<rio-si-facilities id="facilities">
    <div class="container container--header" data-type="cms-FacilitiesTitle">
        <h2 class="headingXL">Voorzieningen</h2>
    </div>
    <div class="container container--section container--article">
        <div class="grid">
            <div class="grid__unit s-4-4 m-12-12 l-10-12 l-push-left-1-12">
                <div class="columnizer">
                    <!---->
                    <div class="columnizer__block">
                        <rio-si-category>
                            <h3>Services</h3>
                            <ul class="greyBullets">
                                <!---->
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Bagagekluizen </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Bemenste fietsenstalling </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Fiets &amp; Service </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Geldautomaat </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!---->
                                    <!----><a class="arrowLink" href="/geleidelijnen/chooseLocations.do?station=ut">
                                        Geleidelijnen </a>
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> GWK Travelex </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Kaartautomaat NS </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Lift </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> NS Internationaal </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> NS Zonetaxi </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Onbewaakt fietsparkeren </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> OV Service &amp; Tickets </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> OV-chipkaart poorten </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> OV-fiets </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Pasfotostudio </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Reisassistentie NS </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> SANIFAIR Toilet </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Service Point </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Service- en alarmzuil </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Wachtruimte </a>
                                    <!---->
                                    <!---->
                                </li>
                            </ul>
                            <!---->
                        </rio-si-category>
                    </div>
                    <div class="columnizer__block">
                        <rio-si-category>
                            <h3>Winkelen</h3>
                            <ul class="greyBullets">
                                <!---->
                                <li class="list__item">
                                    <!----><a class="arrowLink"> AKO </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> America Today </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> BLOEM! </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Etos </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Haarfijn Kappers </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> HEMA </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Leonidas bonbons </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Nespresso Boutique </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Rituals </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Service Point </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Sissy-Boy </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Sven &amp; Sophie </a>
                                    <!---->
                                    <!---->
                                </li>
                            </ul>
                            <!---->
                        </rio-si-category>
                    </div>
                    <div class="columnizer__block">
                        <rio-si-category>
                            <h3>Eten &amp; Drinken</h3>
                            <ul class="greyBullets">
                                <!---->
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Abel’s Deli </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> AH to go </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Bar Beton </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Bar Centraal </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Bistrot Centraal </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Broodje GERRY </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Broodzaak </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Burger King </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> HEMA </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Julia's </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Kiosk </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Koffiehuis </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> La Place </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> LEON </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Pret A Manger </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Railcatering </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Slijterij Una Más </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Smullers </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Starbucks </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Swirl's </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> The Döner Company </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Urban Salad </a>
                                    <!---->
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Yoghurt Barn </a>
                                    <!---->
                                    <!---->
                                </li>
                            </ul>
                            <!---->
                        </rio-si-category>
                    </div>
                    <div class="columnizer__block">
                        <rio-si-category>
                            <h3>Informatie mindervaliden</h3>
                            <ul class="greyBullets">
                                <!---->
                                <li class="list__item">
                                    <!---->
                                    <!----><a class="arrowLink" href="/geleidelijnen/chooseLocations.do?station=ut">
                                        Geleidelijnen </a>
                                    <!---->
                                </li>
                                <li class="list__item">
                                    <!----><a class="arrowLink"> Lift </a>
                                    <!---->
                                    <!---->
                                </li>
                            </ul>
                            <!---->
                        </rio-si-category>
                    </div>
                </div>
            </div>
        </div>
    </div>
</rio-si-facilities>