<div class="grid__unit pb-0" id="interruptions">
    <h2 class="headingXL">Storingen en werkzaamheden</h2>
</div>

<div class="grid__unit s-4-4 m-12-12 l-6-12">
    <a href="#" class="tile tile--compact tile--icon tile--clickable tile--arrowRight tile--alert bs-none bo-a"
        data-controller="generic/ui/ContentOpener" data-config="{&quot;type&quot;: &quot;Overlay&quot;, &quot;contentId&quot;: &quot;prio-5000195&quot;}">
        <div class="tile__title">
            <h3 class="headingS">
                <span class="icon icon--nsRed icon--alert">
                    <span class="alt">Storing op het traject:</span>
                </span>
                <span>Heerlen-Kerkrade</span>
            </h3>
        </div>
        <div class="tile__content">
            <p><span>laatste update: donderdag 08 november 2018, 09.58</span></p>
        </div>
    </a>
    <div class="richText is-hidden" id="prio-5000195">
        <div class="overlayHeading">
            <h4 class="headingM">
                <span class="overlayHeading__icon">
                    <span class="icon icon--base icon--nsRed icon--alert">
                        <span class="alt">Storing op het traject:</span>
                    </span>
                </span>
                <span class="overlayHeading__title">Storing</span>
            </h4>
            <h5 class="headingL"><span>Heerlen-Kerkrade</span></h5>
            <p class="overlayHeading__lastUpdate"><span>laatste update: donderdag 08 november 2018, 09.58</span></p>
        </div>
        <div class="overlayContent">
            <p><span></span></p>
            <p>Tussen Heerlen en Landgraaf rijden er minder treinen door een seinstoring.<br>Dit duurt tot ongeveer
                12:20 uur.<br></p>
            <p></p>
        </div>
    </div>
</div>

<div class="grid__unit s-4-4 m-12-12 l-6-12 mb-2 mb-4-sm">
    <a href="#" class="tile tile--compact tile--icon tile--clickable tile--arrowRight bs-none bo-a" data-controller="generic/ui/ContentOpener"
        data-config="{&quot;type&quot;: &quot;Overlay&quot;, &quot;contentId&quot;: &quot;2018_ICE_asd_basel_15okt_17nov&quot;}">
        <div class="tile__title">
            <h3 class="headingS"> <span class="icon icon--nsRed icon--maintenance"> <span class="alt">Werkzaamheden
                        op het traject:</span> </span> <span>Amsterdam
                    C-Köln Hbf-Frankfurt (M) Hbf</span> </h3>
        </div>
        <div class="tile__content">
            tot en met zaterdag 17 november
        </div>
    </a>
    <div class="richText is-hidden" id="2018_ICE_asd_basel_15okt_17nov">
        <div class="overlayHeading">
            <h4 class="headingM"> <span class="overlayHeading__icon"> <span class="icon icon--base icon--nsRed icon--maintenance">
                        <span class="alt">Werkzaamheden op het traject:</span> </span>
                </span> <span class="overlayHeading__title">Werkzaamheden</span> </h4>
            <h5 class="headingL"><span>Amsterdam C-Köln Hbf-Frankfurt (M) Hbf</span></h5>
            <p class="overlayHeading__lastUpdate"><span></span></p>
        </div>
        <div class="overlayContent">
            <p><span></span></p>
            <p> <b>Wanneer: tot en met zaterdag 17 november</b><br> <b>Oorzaak:
                    herstelwerkzaamheden</b><br> <b>Advies: U kunt gebruikmaken van de
                    gewijzigde dienstregeling</b> <br>tot en met 17 november: ICE
                International, oorspronkelijke eindbestemming Frankfurt (M) Hbf, rijdt niet
                verder dan Köln Hbf, tussen Köln Hbf en Frankfurt (M) Hbf kunt u gebruik
                maken van overige treinen <br> van 5 tot en met 11 november: ICE
                International vanuit Duitsland richting Nederland stopt niet in Duisburg
                Hbf en Oberhausen Hbf, maar stopt extra in Oberhausen Sterkrade <br> op 17
                november: ICE International rijdt via een andere route naar Köln Hbf en
                stopt niet in Arnhem Centraal, Oberhausen, Duisburg en Düsseldorf, maar
                stopt extra in Mönchengladbach <br> <br> <b>Extra reistijd: meer dan een
                    uur</b><br> </p>
            <p></p>
        </div>
    </div>
</div>