<div class="avt-verstoringSummary mt-0 mb-3">
    <span class="avt-verstoringSummary__item">Op dit moment</span>
    <span class="avt-verstoringSummary__item avt-verstoringSummary__item--storingen">
        <span class="icon icon--inline icon--nsRed icon--alert avt-verstoringSummary__icon"></span>
        <span class="avt-verstoringSummary__counter">1 storing</span>
    </span>
    <span class="avt-verstoringSummary__item avt-verstoringSummary__item--werkzaamheden">
        <span class="icon icon--inline icon--nsRed icon--maintenance avt-verstoringSummary__icon"></span>
        <span class="avt-verstoringSummary__counter">1 werkzaamheid</span>
    </span>
    <a href="#interruptions" class="avt-verstoringSummary__item iconLink iconLink--scroll-down js-scroll-to">Bekijk
        storingen en werkzaamheden</a>
</div>