<div class="container container--section">
    <div class="grid" heightequalizer="">
        <div class="grid__unit s-4-4">
            <div class="tile tile--gradient">
                <a class="arrowLink arrowLink--back" href="/">Overzicht</a>
                <h1 class="headingXXL">Station <b>Utrecht Centraal</b></h1>
                <div class="mb-3"></div>
                <div class="tile__content s-4-4 m-8-12">
                    <a class="button button--arrowRight" href="https://www.ns.nl/stationsinformatie/ut/utrecht-centraal/plattegrond">
                        Plattegrond
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>