<div class="bg-white">
    <div class="container header__content">
        <div class="grid">
            <div class="grid__unit s-4-4">
                <a class="arrowLink arrowLink--back mb-1" href="/">Overzicht</a>
                <h1 class="headingXXL">Station <b>Utrecht Centraal</b></h1>
                <div class="mb-3"></div>
                <a class="button button--arrowRight" href="https://www.ns.nl/stationsinformatie/ut/utrecht-centraal/plattegrond">
                    Plattegrond
                </a>
            </div>
        </div>
    </div>
</div>