<div class="bg-white">
    <div class="container header__content">
        <div class="grid">
            <div class="grid__unit s-4-4">
                <a class="arrowLink arrowLink--back mb-1" href="/">{{ site.data.content.intro.backlink }}</a>
                <h1 class="headingXXL">{{ site.data.content.intro.type }} <b>{{ site.data.content.intro.station }}</b></h1>
                <div class="mb-3"></div>
                <a class="button button--arrowRight" href="{{ site.data.content.intro.button.url }}">
                    {{ site.data.content.intro.button.text }}
                </a>
            </div>
        </div>
    </div>
</div>