<div class="js-times-hc dib">
    <h2 class="tk-heading-xl mr-2 mb-0 js-times-heading">Vertrektijden</h2>
</div>
<br class="visible-xs">
<a class="tk-link tk-link--icon">
    <span include="/assets/img/icons/clock-S--small.svg"></span>
    <span class="js-times-switch">Aankomsttijden</span>
</a>
<div class="mb-4"></div>

<!-- toggle modalitities -->
<ul class="times-toggle mb-3">
    {% for item in site.data.times.modality %}
    <li class="times-toggle__item js-tm js-tm__{{item.class}}">
        <div class="times-toggle__title">{{item.title}}</div>
        <div class="times-toggle__line"></div>
    </li>
    {% endfor %}
</ul>

<div class="times mb-2 js-times">
    <div>
        <!-- table displaying times -->
        {% for table in site.data.times.table %}
        <div class="times__table js-tm-table js-tm-table__{{table.modality}}">

            <!-- top row -->
            <div class="times__row times__row--top js-times-row">
                <div class="times__row-grid">
                    <div class="times__col js-times-col js-times-top-col-1">
                        Vertrek
                    </div>
                    {% if table.modality == 'train' %}
                    <div class="times__col js-times-col js-times-top-col-2-train">
                        Naar / Opmerkingen
                    </div>
                    {% else %}
                    <div class="times__col js-times-col js-times-top-col-2">
                        Lijn
                    </div>
                    {% endif %}
                    {% for col in table.cols %}
                    <div class="times__col {% if forloop.last %}hidden-xs{% endif %} js-times-col">{{col.label}}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- data rows -->
            {% for row in table.rows %}
            <div class="times__row js-times-row">
                <div class="times__row-grid">
                    <div class="times__col times__col--start js-times-col">
                        <div class="times__time-container">
                            <div class="times__line-150">
                                {{row.time}}
                                {% if table.modality == 'btm' %} <span class="fw-normal">min</span>
                                {% endif %}
                            </div>
                            {% if row.delay %}
                            <div class="f14 f-red fw-normal txt-r">
                                {{ row.delay }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="times__col times__col--start js-times-col">
                        <div class="times__line-150">
                            {{row.direction}}
                        </div>
                        <div class="times__via">
                            <div class="hidden-xs">
                                {% if table.modality == 'train' %}via {% else %}richting {% endif %}
                                {{row.via}}
                            </div>
                            <div class="visible-xs">
                                {% if table.modality == 'train' %}
                                {{ row.type }}
                                {% else %}
                                {{ row.via }}
                                {% endif %}
                            </div>
                            {% if row.alert %}
                            <div class="f-red">Dit is een gewijzigd <span class="js-times-alert">vertrek</span>{{ row.alert }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="times__col times__col--platform {% unless table.modality == 'train' %}times__col--platform--btm{% endunless %} js-times-col">
                        {{row.platform}}
                    </div>
                    <div class="times__col {% if table.modality == 'train' %} times__col--{{table.modality}} {% endif %} hidden-xs js-times-col">
                        {% if table.modality == "train" %}
                        <img src="/assets/img/NS_logo.svg" class="times__logo" />
                        {% endif %}
                        {{row.type}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- Clock -->
    <div class="times__clock hidden-sm hidden-xs">
        {% include clock.html transition="tr-1000" %}
    </div>
</div>

<a class="iconLink iconLink--scroll-down js-times-more">Meer vertrektijden</a>