<div class="js-times-hc dib">
    <h2 class="tk-heading-xl mr-2 mb-0 js-times-heading">Vertrektijden</h2>
</div>
<br class="visible-xs">
<a class="tk-link tk-link--icon">
    <span>{% include icons/clock-s--small.svg %}</span>
    <span class="js-times-switch">Aankomsttijden</span>
</a>
<div class="mb-4"></div>

<!-- toggle modalitities -->
<ul class="times-toggle mb-3">
    {% for item in site.data.times.modality %}
    <li class="times-toggle__item js-tm js-tm__{{ item.class }}">
        <div class="times-toggle__title">{{ item.title }}</div>
        <div class="times-toggle__line"></div>
    </li>
    {% endfor %}
</ul>

<div class="times mb-2 js-times">
    <div>
        {% for table in site.data.times.table %}
        {% include times__table.html %}
        {% endfor %}
    </div>

    <!-- Clock -->
    <div class="times__clock hidden-sm hidden-xs">
        {% include clock.html transition="tr-1000" %}
    </div>
</div>

<a href="/avt" class="arrowLink js-times-more">Meer vertrektijden</a>