.instafeed {
    line-height: 14px;
    column-count: 3;
    column-gap: 2px;

    @include sm {
        column-count: 4;
    }

    @include md {
        column-count: 6;
    }

    img {
       width: 100%;
    }
}