/*-------------------
  		Links
--------------------*/

.tk-link,
.tk-link:active,
.tk-link:hover,
.tk-link:focus,
.tk-link:visited, {
    display: inline-block;
    border-bottom: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    font-weight: normal;
    color: $ns-light-blue;
	cursor: pointer;
	transition: $fade-link;
}

.tk-link:hover {
    color: $ns-blue;
}

.tk-link--icon {  
	svg {
        position: relative;
        top: 1px;
        margin-right: 7px;
		fill: $ns-light-blue !important;
		transform: translateX(0);
		transition: $fade-link;
	}
	
	&:hover {		
		svg {
			transform: translateX(5px);
			fill: $ns-blue !important;
		}
	}
}

.tk-link--body {
	box-shadow: inset 0 -1px 0 rgba($ns-light-blue, 1);

	&:hover {
		box-shadow: inset 0 -1px 0 rgba($ns-blue, 1);
	}
}

// addition on ns.generic.css link
.arrowLink--blue {
	color: $ns-blue;

	&:before {
		background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2235px%22%20height%3D%2235px%22%20viewBox%3D%220%200%2035%2035%22%20enable-background%3D%22new%200%200%2035%2035%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpolygon%20points%3D%2219.3%2C17.5%2015.3%2C21.5%2016.7%2C21.5%2020.7%2C17.5%2016.7%2C13.5%2015.3%2C13.5%20%20%22%2F%3E%3C%2Fg%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23003082%3B%20%7D%3C%2Fstyle%3E%3C%2Fsvg%3E");
	}
}