/*-------------------
  generic overrides
-------------------*/

.content {
    overflow: hidden;
}

.iconLink--scroll-down {
    &:before {
        left: 0;
    }

    &:hover {
        &:before {
            left: 5px;
        }
    }
}