/*-------------------
  generic overrides
-------------------*/

.content {
    overflow: hidden;
}

.button,
input[type=button],
input[type=submit],
button {
    border-radius: 4px;
}

.iconLink--scroll-down {
    &:before {
        left: 0;
    }

    &:hover {
        &:before {
            left: 5px;
        }
    }
}

.ovr-not-contained {
    padding-left: 21px;
    padding-right: 21px;

    @include sm {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.headingXXL,
.headingXL,
.headingL,
h1,
h2 {
    line-height: 1.25;
    letter-spacing: -0.3px;
}