/*-------------------
        App
--------------------*/

// navigation
// ---------------------------------
.nav {
    display: grid;
    grid-column-gap: $half-gutter;
    grid-row-gap: $one-half-gutter;
    grid-template-columns: repeat(2, 1fr);

    @include md {
        grid-gap: $double-gutter;
        grid-template-columns: repeat(6, max-content);	
    }

    svg {
		fill: $ns-blue;
		transition: $fade-all;
	}
}				

.nav__item {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    transition: $fade-all;
    cursor: pointer;
    
    &:hover {
        > .nav__title {
            color: $ns-blue;
            box-shadow: 0 1px 0 $ns-blue;
        }
        
        svg {
            fill: $ns-blue;
        }
    }
}

.nav__link {
    box-shadow: none;
    
    &:hover {
        box-shadow: none;
    }
}

.nav__icon {
    margin: 0;
    height: 50px;				
    justify-self: center;
}

.nav__title {
    margin: 0;
    @include font-style(16px, normal, 1.5);
    color: $ns-blue;
    transition: $fade-all;			
}