---
layout: default
---

{% include hero.html %}
{% include nav.html %}

<!-- travel info -->
<div class="bg-white pv-2 pb-6-sm">
    <div class="container header__content">
        <div class="grid">

            <!-- departures & arrivals -->
            <div class="grid__unit mb-6" id="times">
                {% include times.html %}
            </div>

            <!-- interruptions -->
            {% include interruptions.html %}
        </div>
    </div>
</div>

<!-- station facilities -->
{% include facilities.html %}

<!-- address -->
{% include address.html %}